﻿@page "/fetchdata"

@using TodoList.Data
@using System.Data
@inject WeatherForecastService ForecastService

<h1>Calcul du prix</h1>

<p>
    <label>
        Préciser la marge (%) :
        <input type="number" min="0" max="100" step="10" id="marge" @bind="MaMarge" />
    </label>
    <button class="btn btn-primary" @onclick="calculPrix">Envoyer</button>
    <br />
    Prix de vente : @PrixDeVente
</p>

<p>Tableau des coûts et des recettes</p>

@if (recettes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        Sélectionner la recette :
        <select name ="maRecette" @bind="MaRecette">
            <option value="" selected>choisir une recette</option>
            @foreach (var recette in recettes.Select().Select(row => row["recette"]))
            {
                @if (!recette.Equals("Coût"))
                {
                    <option value="@recette">@recette</option>
                }
            }
        </select>
    </p>
    <table class="table">
        <thead>
            <tr>
                @foreach (DataColumn col in recettes.Columns)
                {
                    <th>@col.ColumnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in recettes.Rows)
            {
                <tr>
                    @foreach (DataColumn col in recettes.Columns)
                    {
                        <td>@row[@col]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private DataTable recettes;

    private decimal MaMarge;

    private string MaRecette;

    private decimal PrixDeVente = 0;

    protected override async Task OnInitializedAsync()
    {
        recettes = await ForecastService.GetProduitsAsync();
    }

    private decimal calculPrixDeVente(string recette, decimal marge)
    {
        decimal prix = 0;
        for (int i = 1; i < recettes.Columns.Count; i++)
        {
            prix += (decimal) recettes.Rows[0][i] * (decimal) recettes.Select($"recette = '{recette}'")[0][i];
        }
        return prix * (1 + marge / 100);
    }

    private void calculPrix()
    {
        if (MaRecette != null && MaRecette != "")
        {
            PrixDeVente = calculPrixDeVente(MaRecette, MaMarge);
        }
    }
}
